<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
        <header>
             <header>
        <h1>
            <img src="amazon.png">
        </h1>
    </header>
      <nav class="nav-top">
        <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/registration">Sing Up</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>    
            </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>
              <div class="footer"> © 2020 DongsSeon </div>
            </p>
        </footer>
</body>
</html>