<!--Insert Product Category Section-->
<div style="display:flex;">
  <div class="col-side" style="width: 5%; flex-direction: column;"></div>

  <!--Insert Promotiona Section-->
  <div class="container1">
    <div class="banner">
      <a herf="https://www.amazon.ca/b?ie=UTF8&node=17428761011"><img src="/image/probanner.png"></a>

      <!--bootstrap card with 3 horizontal images-->
      <div class="card-group">
        <div class="row">
          <h2> Product Categories </h2>
          <div class="card col-md-4">
            <h3>Cell Phones & Accessoriess</h3>
            <img src="image/f1.png" alt="Avatar" style="width:100%">
            <a herf="#">Explore More</a>
          </div>

          <div class="card col-md-4">
            <h3>Nutrition & Wellnesss</h3>
            <img src="image/f2.png" alt="Avatar" style="width:100%">
            <a herf="#">Explore More</a>
          </div>

          <div class="card col-md-4">
            <h3>Shop deals in Tools</h3>
            <img src="image/f3.png" alt="Avatar" style="width:100%">
            <a herf="#">Show now</a>
          </div>

          <div class="card col-md-4">
            <h3>Valentine's Day Gift Shop</h3>
            <img src="image/f4.png" alt="Avatar" style="width:100%">
            <a herf="#">Show now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container2">
      <h2>Best Seller </h2>
      <a herf="/">See more</a>
      <div class="card-group">
        <!--bootstrap card with 3 horizontal images-->
        <div class="row">
          <div class="card col-md-4">
            <img src="image/best1.png" alt="Avatar" style="width:80%">
          </div>

          <div class="card col-md-4">
            <img src="image/best2.png" alt="Avatar" style="width:80%">
          </div>

          <div class="card col-md-4">
            <img src="image/best3.png" alt="Avatar" style="width:80%">
          </div>

          <div class="card col-md-4">
            <img src="image/best4.png" alt="Avatar" style="width:80%">
          </div>

          <div class="card col-md-4">
            <img src="image/best5.png" alt="Avatar" style="width:80%">
          </div>
  <div class="col-side" style="width: 5%; flex-direction:column;"></div>
        </div>
      </div>
